@media (hover: hover)
  a:hover
    color: $primary
@media (max-width: 1300px)
  .container
    max-width: 1100px
  .navbar
    &-menu
      width: 972px
      margin: auto
  .collections  
    width: 972px  
    margin: auto  
    &-wrapper
      width: 100%
    &-images      
      &_group
        width: 48%
        height: 48%
      &_hero   
        width: 48%
        height: 100%
    &-content
      width: 350px
      margin-left: 22px  
  .trending
    width: 972px
    margin: auto
    &-goods
      &_card
        width: 23%
        &_wrapper
          width: 100%
          &_bg
            padding-bottom: 87px
        &_details
          width: 100%
        &_del
          width: 23%
  .stories
    width: 972px
    margin: auto
    &-wrapper
      width: 100%
    &-text
      max-width: 350px
    &-slider
      &_wrapper
        max-width: 600px
      &_group
        max-width: 290px
        margin-right: 15px
        &_picture
          &_img
            width: 285px
        &_description
          width: 285px
  .subscription
    &-wrapper
      width: 972px
      margin: auto
  .footer
    &-wrapper
      width: 972px
      margin: auto
      &_navbar
        grid-template-columns: 233px 150px 150px 150px 150px
@media (max-width: 1110px)
  .container
    max-width: 960px
  .navbar
    &-menu
      width: 820px
      &_list
        margin-right: 30px
      &_link
        margin-left: 20px
        &_button
          margin-left: 0
          margin-right: 0
  .hero
    &-info
      max-width: 491px
    &-title
      margin-top: 24px
    &-wrapper
      padding: 40px 0 40px 60px
      &:before
        transform: translate(20.1%, -25%)
      &:after
        width: 350px   
  .collections
    width: 90%
    &-images
      width: 500px
      height: 400px
      &_group
        width: 220px
        height: 190px
    &-content
      margin-left: 38px
    &-title
      font-size: 48px
      line-height: 50px
      margin-top: 0
    &-text
      font-size: 18px
      line-height: 30px
  .trending
    &-wrapper
      width: 100%
    &-goods
      &_card
        width: 23%
        &_wrapper
          width: 100%
        &_details
          width: 100%
  .stories
    width: 90%
    &-wrapper
      flex-direction: column
      align-items: center
    &-text
      max-width: 75%
      min-height: 350px
      margin: auto
      align-items: center
    &-hashtag
      margin-bottom: 24px
    &-title
      margin-bottom: 16px
      font-size: 48px
    &-story
      font-size: 20px
      text-align: center
      margin-bottom: 36px
    &-buttons
      margin-bottom: 36px
      margin-left: 0
      &_prev
        width: 56px
        height: 56px
        top: 25px
        left: 3px
        bottom: 0
        right: 0
      &_next
        width: 56px
        height: 56px
        top: 25px
        left: 81px
        bottom: 0
        right: 0
    &-slider
      margin: -13px 0 0 0 
      &_wrapper
        max-width: 692px
      &_group
        max-width: 332px
        &_picture
          width: 322px
          height: 317px
        &_description
          width: 322px
  .subscription
    &-wrapper
      width: 820px
      &_title
        font-size: 42px
      &_text
        width: 381px
        padding-left: 0
      &_description
        font-size: 15px
        line-height: 178%
  .footer
    padding-top: 34px
    &-wrapper
      width: 820px
      &_navbar
        grid-template-columns: 250px 210px 210px
        column-gap: 25px
        row-gap: 25px
        &_main
          grid-area: 1 / 1 / 3 / 2
        &_product
          grid-area: 1 / 2 / 2 / 3
        &_services
          grid-area: 1 / 3 / 2 / 4
        &_company
          grid-area: 2 / 2 / 3 / 3
        &_contacts
          grid-area: 2 / 3 / 3 / 4
@media (max-width: 992px)
  a:hover
    color: inherit
  .container
    max-width: 768px
  .navbar
    &-menu
      width: 85%
      &_link
        font-size: 14px
        line-height: 20px
        margin-left: 20px
        &_button    
          line-height: 18px
          padding: 10px 15px                
          &:hover    
            background: $light
            color: $blue
  .hero
    padding-bottom: 80px
    &-info
      max-width: 100%
    &-hashtag
      &:hover
        color: $green
    &-title
      width: 458px
      font-size: 48px
      line-height: 60px
      margin-top: 21px
    &-text
      width: 458px
      font-size: 18px
      line-height: 32px
      margin-top: 28px
      margin-bottom: 37px    
    &-description
      width: 458px
    &-wrapper
      &:before
        transform: translate(2%, -25%)
      &:after
        width: 250px
        height: 800px
        right: -10%  
    &-down 
      margin-top: 38px  
    &-button
    button:hover    
      background: $dark
      color: $light
      box-shadow: none
    &-thankyou
      &_title
        font-size: 24px
        line-height: 32px
  .collections
    &-wrapper
      width: 92%
      margin: auto
      flex-direction: column      
    &-images
      width: 100%
      height: 490px
      align-content: space-between
      margin-left: 0
      &_group
        width: 48%
        height: 48%
      &_hero
        width: 48%
        height: 490px
    &-content
      width: 100%
      margin-top: 40px
      margin-left: 0
    &-title
      font-size: 48px
      line-height: 60px
      margin-top: 0
      margin-bottom: 24px
    &-text
      margin-bottom: 23px
    &-description
      font-size: 18px
      line-height: 30px
      margin-bottom: 20px
  .tabs
    margin-top: 0 
  .trending
    padding-bottom: 80px
    width: 90%
    &-wrapper
      width: 100%
    &-texts
      &_group
        flex-direction: column
        align-items: center
      &_title
        margin: 0 0 31px 0
    &-goods
      margin-top: 56px
      &_group
        justify-content: space-around
      &_card
        width: 30%
        max-height: 452px        
        &_details
          padding: 20px 10px 10px 10px          
        &_wrapper
          width: 100%   
          &_bg
            &:hover
              background-color: $blue
        &_details
          width: 100%
        &_del
          display: none
    &-tabs
      width: 100%
      justify-content: space-between
      justify-content: center
      &:hover
        color: $grey
      &_active
        &:hover
          color: $dark
  .line
    margin-bottom: 80px
  .stories    
    &-slider
      &_group        
        &_description          
          &_link
            &:hover
              color: $blue
  .subscription
    &-wrapper
      width: 85%
      display: flex
      flex-direction: column
      align-items: center
      padding: 72px auto 80px auto
      &:before // круги
        transform: translate(-40%, -72%)
        background-size: 100%
      &:after // круги
        transform: translate(43%, 15%)
        background-size: 100%
      &_text
        width: 486px
        margin-bottom: 56px
        text-align: center
      &_title
        font-size: 48px
        margin-bottom: 12px
      &_description
        font-size: 18px
        line-height: 32px
    button:hover
      background: $dark
      color: $light
      box-shadow: none
  .footer
    &-wrapper
      width: 90%
      &_navbar
        width: 641px
        grid-template-columns: 243px 180px 180px
        column-gap: 28px
        row-gap: 28px
  .modal
    &__dialog
      width: 95%  
@media (max-width: 830px)
  .hero
    &-wrapper
      width: 100%
  .trending
    &-goods
      &_group
        justify-content: space-between
      &_card
        &_wrapper
          width: 100%
        &_details
          width: 100%        
  .testimonial
    width: 82%
    margin: auto  
@media (max-width: 780px)
  body
    padding-top: 102px
  .container
    max-width: 728px
  .navbar    
    background: $light
    &-menu
      width: 89%
      display: flex
      align-items: center
      justify-content: space-between      
      padding: 26px 0
      &_fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 99
      &_group
        display: none
        padding: 12px 16px 36px 24px
        margin: 0
        &_ul
          display: flex
          flex-direction: column
          align-items: flex-start
          min-width: 100%
        &_visible
          display: flex
          flex-direction: column
          align-items: flex-start
          position: fixed
          top: 14px
          right: 5.5%
          width: 304px
          min-height: 324px
          background-color: $light
      &_close
        display: flex
        align-items: flex-end
        margin-left: auto
      &_toggle
        display: flex
        outline: none
      &_list
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: start
        margin: 0
      &_item
        margin-bottom: 20px
      &_link
        margin: 0
        &_button
          width: 100%
          text-align: center
          outline: none
    &-button
      width: 22px
      height: 18px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      outline: none
      &_line
        width: 22px
        height: 2.2px
        background-color: #3A4C66
  .hero
    &-wrapper
      padding: 36px 0 36px 27px
      &:before
        transform: translate(2.7%, -24.9%)
    &-info
      max-width: 100%
    &-title
      width: 365px
      margin-top: 19px
    &-text
      width: 400px
      margin-bottom: 35px
    &-button
      padding: 16px 42px
    &-down
      margin-top: 37px
      &_item
        margin-right: 23px
  .collections
    width: 100%
    padding-bottom: 73px
    &-images
      &_group
        height: 47%
    &-content
      margin-top: 34px
      margin-right: 0
    &-title
      margin-bottom: 30px     
    &-text
      font-size: 20px
      line-height: 36px
      margin-bottom: 22px  
  .trending
    padding-bottom: 32px
    &-wrapper
      width: 88%
      margin: auto
    &-goods
      &_card
        width: 280px
        max-height: 350px
        margin-bottom: 139px
        &_wrapper
          width: 100%
          &_bg
            padding-bottom: 119px
        &_details
          padding: 17px 12px 10px 11px
          width: 100%
          &_price
            margin-top: 5px   
        &_del
          display: block    
          width: 280px
  .testimonial
    &-text
      margin: 26px 0 32px 0
    &-author
      margin: 0 0 45px 0
  .line
    margin-bottom: 77px
  .stories
    padding-bottom: 80px
    &-hashtag
      margin-bottom: 22px
    &-title
      margin-bottom: 21px
    &-story
      width: 100%
    &-buttons
      &_prev
        top: 23px
        left: -4px
      &_next
        top: 23px
        left: 74px
    &-slider
      &_wrapper
        &_slide
          margin-right: 17px
      &_group
        &_picture
          &_image
            width: 322px
        &_description
          &_title
            margin: 0 0 22px 0
  .subscription
    margin-bottom: 0
    &-wrapper
      height: 402px
      padding: 72px 0 81px 0
      &_title
        margin-bottom: 20px
      &_text
        width: 436px
  .footer
    padding-top: 64px
    &-wrapper
      width: 90%
      &_navbar
        width: 641px
        grid-template-columns: 259px 164px 163px
        column-gap: 30px
        row-gap: 26px
  .modal
    &__dialog
      overflow: auto
      position: fixed
      max-height: 100%
@media (max-width: 750px)
  body
    padding-top: 88px
  .navbar
    &-menu
      padding-bottom: 22px
  .hero
    &-wrapper
      width: 95%
      padding: 20px 0 20px 20px
      margin-left: 20px
      &:before
        transform: translate(-7%, -24.3%)
    &-info
      max-width: 100%
    &-title
      width: 325px
      font-size: 38px
      line-height: 50px
    &-text
      width: 335px
      font-size: 16px
      line-height: 32px
      margin-top: 16px
      margin-bottom: 35px
    &-down
      &_item
        margin-right: 9px
  .collections
    &-title
      font-size: 36px
      line-height: 48px
  .trending
    &-wrapper
      width: 93%
    &-goods
      &_card
        width: 48%  
        &_wrapper
          &_bg
            padding-bottom: 80px
        &_del
          width: 48%
  .stories
    width: 90%
    &-text
      max-width: 100%
    &-slider
      &_wrapper
        max-width: 505px
      &_group
        &_picture
          width: 231px
          height: 238px
        &_description
          width: 233px
  .footer
    padding-bottom: 0
    &-wrapper
      width: 90%
      &_navbar
        width: 90%
        grid-template-columns: 40% 32% 32%
        column-gap: 15px
        row-gap: 15px
@media (max-width: 576px)
  .container 
    margin: 0
  .hero
    padding-bottom: 64px
    &-container
      max-height: 900px
    &-wrapper
      width: 100%
      border-radius: 0px
      padding: 385px 20px 26px 20px
      margin-left: 0
      &:before
        transform: translate(-23%, -59%)
        background-size: 60%
        background-image: url(../img/hero-image.webp.jpg)
      &:after
        width: 577px
        height: 500px
        left: 0
        right: 0
        top: 50%
        bottom: 0
        background: linear-gradient(180deg, rgba(238, 238, 238, 0.00001) 0%, #E8EAE9 30%)
        background-repeat: no-repeat
        background-position: center
    &-info
      align-items: center
      text-align: center
    &-hashtag
      max-width: 200px
      height: 24px
      padding: 2px 26px
    &-title      
      display: inline-block
      width: 100%
      font-size: 32px
      line-height: 40px
      margin-top: 20px
    &-text
      width: 100%
      font-size: 16px
      line-height: 28px
      margin-top: 20px
      margin-bottom: 24px
    &-down
      justify-content: center
      align-items: center
      margin-top: 22px
      &_item
        margin-right: 16px
    &-button
      font-size: 16px
      line-height: 22px
      padding: 13px 49px
  .collections  
    &-images
      flex-direction: row
      height: 575px
      &_hero
        width: 100%
        height: 400px
        object-fit: cover
      &_group
        width: 48%
        height: 150px
    &-content
      display: flex
      align-items: center
      text-align: center
    &-title
      font-size: 28px
      line-height: 36px
      margin-bottom: 20px
    &-text
      font-size: 16px
      line-height: 28px
      margin-bottom: 0
  .stories  
    padding-bottom: 64px  
    &-title
      font-size: 28px
      line-height: 36px
    &-story
      line-height: 28px
    &-slider
      &_wrapper
        max-width: 425px
      &_group
        &_picture
          width: 195px
          height: 200px
          object-fit: cover
        &_description
          width: 195px
          padding-right: 20px
          &_title
            line-height: 24px
  .subscription
    &-wrapper
      width: 90%
      &_text
        width: 100%
      &_title
        font-size: 36px
      &_description
        font-size: 16px
        line-height: 28px
  .subscribe
    &-input
      width: 100%
  .footer
    margin-bottom: 50px
    &-wrapper
      width: 90%
      &_navbar
        width: 100%
        grid-template-columns: 48% 48%
        column-gap: 15px
        row-gap: 15px
        &_slogan
          margin-bottom: 16px
          text-align: center
        &_logo
          &_image
            margin-bottom: 14px
        &_main
          width: 100%
          grid-area: 3 / 1 / 4 / 3
          align-items: center
        &_navigation
          grid-area: 1 / 1 / 2 / 2
        &_services
          grid-area: 1 / 2 / 2 / 3
        &_company
          grid-area: 2 / 1 / 3 / 2
        &_contacts
          grid-area: 2 / 2 / 3 / 3
  .modal
    &__dialog
      width: 95%
      padding: 15px 30px
      max-height: 100%
      overflow: scroll
    &__butreq
      grid-template-columns: 1fr
    &__info
      order: -1
      margin-bottom: 15px
      justify-self: start
    &__close
      right: 10px
      top: 10px
  .to-top
    width: 48px
    height: 48px
@media (max-width: 490px)
  .hero
    &-wrapper
      &:before
        transform: translate(-30%, -59%)
  .trending
    &-goods
      margin-top: 36px
      &_card
        max-height: 441px
        margin-bottom: 20px        
        &_details
          padding: 17px 0 0 0
          &_title
            font-size: 16px
            line-height: 20px
          &_group
            justify-content: flex-start
          &_cart
            margin-top: 0
            &_image
              width: 14px
              height: 32px
          &_price
            font-size: 14px
            line-height: 24px
            margin-right: 9px
    &-texts
      &_title
        font-size: 36px
        margin-bottom: 24px
    &-tabs
      max-width: 100%
      font-size: 16px
      line-height: 22px
  .tabs
    width: 95%
    justify-content: space-between
    margin: 0
    &-wrap
      min-width: 100px
  .testimonial
    &-text
      font-size: 18px
      line-height: 36px
      margin: 13px 0 24px 0
  .stories
    &-buttons
      margin-bottom: 0
    &-slider
      width: 100%
      &_group
        min-width: 100%
        max-height: 420px   
        margin-bottom: 48px     
        &_picture
          width: 95%
          height: 300px
        &_description
          width: 92%
          min-height: 129px          
      &_wrapper
        flex-direction: column
        flex-wrap: wrap
        max-width: 431px
        max-height: 940px
        &_slide
          width: 100% !important
          height: 100% !important
          margin: 0 18px !important
          align-items: center
          justify-content: center
  .subscription
    max-height: 414px
    &-wrapper
      padding: 70px 0 136px 0
      &_text
        margin-bottom: 36px
  .subscribe
    width: 100%    
    &-input
      width: 100%
      padding-right: 20px
      margin-bottom: 12px
      height: 47px
      &_icon
        top: 14px
        left: 20px
    &-button
      position: relative
      width: 100%
      right: 0
      top: 0
      border-radius: 8px
  .footer
    &-item
      font-size: 14px
      line-height: 20px
@media (max-width: 450px)
  .hero
    &-wrapper
      &:before
        transform: translate(-35%, -59%)
    &-down
      width: 100%
      height: 74px
      align-content: space-between
      justify-content: space-around
      flex-wrap: wrap
      &_item
        &__image
          border-radius: 8px
          margin-right: 8px
          padding: 3px  
    &-thankyou
      width: 90%      
      margin: auto
      &_title
        font-size: 14px
        line-height: 20px
  .trending    
    &-goods
      &_card
        &_wrapper
          height: 250px  
          &_bg
            padding-top: 60px
            padding-bottom: 50px
  .subscription
    &-wrapper
      padding: 70px 0 136px 0
  .subscribe
    width: 100%    
    &-input
      width: 100%
      padding-right: 20px
      margin-bottom: 12px
      height: 47px
      &_icon
        top: 14px
        left: 20px
    &-button
      position: relative
      width: 100%
      right: 0
      top: 0
      border-radius: 8px
@media (max-width: 420px)
  .trending
    &-tabs
      font-size: 16px
      &_item
        max-width: 129px
      &_active
        font-size: 16px
    &-texts
      &_title
        font-size: 26px
    &-goods
      &_card
        &_wrapper
          height: 250px
  .tabs
    width: 104%
  .subscription
    height: 414px
    &-wrapper
      align-items: center
      padding: 0
      &_title
        font-size: 28px
        line-height: 36px
        margin-top: 61px
        margin-bottom: 27px    
  .subscribe
    margin-bottom: 102px
    &-input
      margin-bottom: 10px
@media (max-width: 360px)
  .navbar
    height: 62px
    padding: 18px
    &-menu
      width: 272px
      padding: 0
      &_group
        &_visible
          right: 4.5%
      &_toggle
        margin-right: 0px
  .hero
    &-wrapper
      padding: 382px 0 36px 20px
      &:before
        transform: translate(-35.6%, -58.1%)
    &-info
      max-width: 100%
      align-items: center
    &-title
      width: 244px
      margin-left: -22px
      margin-top: 19px
    &-text
      display: inline-block
      width: 280px
      margin: 23px 0 24px -19px
    &-down      
      height: 64px
      margin-top: 0
      &_item
        margin-right: 0
    &-button
      padding: 13px 47px
      margin-bottom: 20px
      margin-right: 17px
    &-down
      width: 288px
      margin-left: -4px
      &_item        
        &__image
          width: 24px
          height: 24px
          padding: 4px 3px 2px 2px
  .collections
    padding-bottom: 40px
    &-wrapper
      width: 90%
    &-images
      height: 410px
      &_hero
        height: 300px
      &_group
        height: 97px
    &-content
      align-items: center
      margin-top: 35px
    &-title
      margin-bottom: 24px
    &-text
      width: 280px
      margin-bottom: 15px
    &-link
      &_text
        font-size: 16px
        line-height: 22px
  .trending
    &-wrapper
      width: 100%
    &-texts
      &_title
        font-size: 28px
        line-height: 36px
        margin-bottom: 26px
    &-goods
      &_card
        width: 140px
        height: 234px
        &_wrapper
          height: 170px
          &_text
            font-size: 17px
            line-height: 20px
          &_bg
            padding-top: 44px
            padding-bottom: 25px
            &:after
              width: 24px
              height: 24px
  .tabs
    justify-content: center
    min-width: 218px
    height: 22px
    &-wrap
      margin: 0 8px
      min-width: 0
  .testimonial
    &-icon
      object-fit: cover
      width: 70px
      height: 81px
    &-author
      width: 145px 
  .line
    margin-bottom: 44px
  .stories
    padding-bottom: 35px
    &-text
      height: 294px
    &-hashtag
      padding: 2px 12px
    &-title
      margin-bottom: 18px
      margin-top: 23px
    &-slider
      margin: 0
      &_wrapper
        &_slide
          margin: 0 9px !important
      &_group
        margin-bottom: 18px
        &_description
          padding: 21px 25px 20px 21px
          &_title
            margin-bottom: 21px
            font-size: 21px
        &_picture
          height: 278px
    &-story
      font-size: 16px
      margin-bottom: 34px
    &-buttons
      &_prev
        width: 48px
        height: 48px
        left: 11px
      &_next
        width: 48px
        height: 48px
        left: 74px
  .footer
    padding-top: 48px
    &-title
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px
    &-item
      margin-bottom: 15px
    &-wrapper   
      width: 80%
      &_navbar        
        &_main
          margin-top: 36px
          grid-area: 5 / span 2
        &_navigation
          grid-area: 1 / span 2
        &_services
          grid-area: 2 / span 2
        &_company
          grid-area: 3 / span 2
        &_contacts
          grid-area: 4 / span 2 
        &_slogan
          width: 260px
          font-size: 15px
          line-height: 24px
          margin-left: 0
          margin-bottom: 24px
        &_logo
          &_image
            margin-bottom: 10px
